.CurrentQuestion{
    color: #29838C;
    padding: 5px;
    border: 3px solid #29838C;
    border-radius: 5px;
    /* margin: 0 10px; */
    background-color: #97def3;
    box-sizing: border-box;
    
}

.Question {
    display: flex;
    justify-content: space-between;
}
